# App Settings
APP_PROFILE=prod
APP_PORT=8080
CORS_ALLOWED_ORIGINS=https://tudominio.com

# Database Variables
DB_DDL_AUTO=update
DB_URL=jdbc:mysql://localhost:3306/backoffice_itec?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
DB_USERNAME=usuario_db
DB_PASSWORD=password_db
DB_ROOT_PASSWORD=root_password_db
DB_DATABASE=backoffice_itec

# Admin Local Variables
ADMIN_LOCAL_USERNAME=admin
ADMIN_LOCAL_PASSWORD=admin
ADMIN_LOCAL_NOMBRE=Nombre
ADMIN_LOCAL_APELLIDO=Apellido
ADMIN_LOCAL_DNI=00.000.000
ADMIN_LOCAL_EMAIL=admin@correo.com
ADMIN_LOCAL_TELEFONO=000000000
